*{
    margin: 0;
    box-sizing: border-box;
}

.tamañoChica{
    width: 30%;
    height: 30%;
}

.tamañoMediana{
    width: 50%;
    height: 50%;
}
.tamañoGrande{
    width: 100%;
    height: 100%;
}